.metronome {
  background-color: rgb(22, 16, 32);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-align: center;
  color: white;
}

.title {
  color: rgb(142, 172, 255);
  letter-spacing: 6px;
}